:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #034F29;
  --color-secondary: #F1902B;
  --color-tertiary: #787676;
  --color-quaternary: #9A9A9A;

  --max-width: 1400px;
  --box-shadow: 0 5px 30px #0000000A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf'),
    url('./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('./assets/fonts/Jura/Jura-VariableFont_wght.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: var(--color-tertiary);  
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, ol {
  list-style: none;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

section {
  position: relative;
  padding: 16px;
  padding-top: 64px;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (width >= 768px) {
  section {
    padding-inline: 84px; 
  }
}

section.hero {
  padding: 0;
  max-width: none;
  margin: 0;
}

.hidden {
  display: none;
  background-color: red;
}

/* ---- TITLE ---- */
.title {
  text-transform: uppercase;
}

.title div {
  color: var(--color-quaternary);
  display: flex;
  align-items: flex-end;
  gap: 4px;
  font-size: 18px;
}

.title div svg {
  height: 24px;
  width: 24px;
  margin-bottom: 6px;
}

.title h2 {
  margin-top: -6px;
  color: var(--color-primary);
}

@media (width >= 768px) {
  .title div {
    font-size: 32px;
  }

  .title div svg {
    height: 32px;
    width: 32px;
  }

  .title h2 {
    font-size: 48px;
  }
}

/* ---- HEADER ---- */

.header {
  text-transform: uppercase;
  z-index: 990;
  position: fixed;
  width: 100%;
  top: 0;
  color: var(--color-white) ;
}

.header__container {
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 8px;
  margin: 0 auto;
}

.header__logo {
  height: 72px;
  margin: -12px;
}

.header:has(input#toggle-menu:checked) .header__nav,
.header:has(input#toggle-menu:checked) .overlay{
  right: 0;
}

.header:has(input#toggle-menu:checked) .overlay {
  background-color: #000000a8;
}

.overlay {
  position: fixed;
  right: -100vw;
  top: 0;
  z-index: 998;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.3s ease;
}

.header__nav {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  transition: right 0.3s ease;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__nav--toggle {
  display: flex;
  justify-content: flex-end;
}

.toggle {
  color: #fff;
  cursor: pointer;
  padding: 4px 4px 0px 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #9a9a9a41;
  }

  &:active {
    scale: 0.95;
  }
}

.toggle.closed {
  color: var(--color-tertiary);
}

@media (width >= 768px) {
  .toggle,.overlay {
    display: none;
  }

  .header__nav {
    padding: 0;
    position: initial;
    font-size: 14px;
    background-color: transparent;
    gap: 12px;
    color: currentColor;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
  }
}

/* ---- HERO ---- */
.hero {
  text-transform: uppercase;
  padding: 0px;
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  /* max-height: 500px; */
  font-family: 'Jura', sans-serif;
  background-image: url('./assets/image/hero.webp');
  background-size: cover;
  background-position: bottom;
  color: var(--color-white);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000044;
}

.hero__description {
  z-index: 1;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}

.hero__description p:last-child {
  font-weight: 600;
}

.hero__btn {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn span {
  scale: 0.9;
  animation: shake-vertical 2s linear 1s infinite normal none;
}

.hero__btn--text {
  font-size: 12px;
}

@keyframes shake-vertical {
			
  0% {
    margin-bottom: 0;
  }
  10% {
    margin-bottom: -8px;
  }
  20% {
    margin-bottom: 8px;
  }
  30% {
    margin-bottom: -8px;
  }
  40% {
    margin-bottom: 8px;
  }
  50% {
    margin-bottom: -8px;
  }
  60% {
    margin-bottom: 6.4px;
  }
  70% {
    margin-bottom: -6.4px;
  }
  80% {
    margin-bottom: 0;
  }
}

@media (width >= 768px) {
  .hero__description {
    font-size: 36px;
  }
}

/* ---- MAIN ---- */

.main__flower {
  display: none;
}

.main__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main__description--text {
  z-index: 1;
  height: fit-content;
  font-size: 18px;
  background-color: var(--color-white);
  margin: 16px 0;
}

.main__description--img {
  width: 100%;
  height: auto;
}

@media (width >= 768px) {
  .main__flower {
    z-index: 2;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 120px;
  }

  .main__description {
    flex-direction: row;
    padding-inline: 16px;
    padding-bottom: 48px;
  }

  .main__description--text {
    font-size: 18px;
    padding: 24px 48px;
    margin-bottom: -48px;
    box-shadow: var(--box-shadow);
  }

  .main__description--img {
    object-fit: cover;
    width: 50%;
    max-height: 500px;
    margin-left: -10%;
  }
}

@media (width >= 1024px) {
  .main__description--text {
    font-size: 24px;
  }
}

/* ---- ABOUT ---- */


.about__description--btns {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  margin: 16px 0;
}

.about__description--btns > * {
  border-bottom: 2px solid var(--color-quaternary);
  padding: 8px;
}

.about__description--btn {
  cursor: pointer;
  background-color: transparent;
  padding: 8px 12px;
  font-weight: 500;
  color: var(--color-quaternary);
  text-transform: capitalize;
}

.about__description--btn.active {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.about__description--text > *:not(:last-child) {
  margin-bottom: 16px;
}

@media (width >= 768px) {
  .about__description--btn {
    font-size: 24px;
  }

  .about__description--text {
    font-size: 18px;
  }
}

@media (width >= 1024px) {
  .about__description--btn {
    font-size: 32px;
  }

  .about__description--text {
    font-size: 24px;
  }
}

/* ---- LOCATION ---- */

.location__leaf {
  display: none;
}

.location__container {
  margin-top: 16px;
  display: grid;
  gap: 16px;
}

.location__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-shadow: var(--box-shadow);
}

.location__coordinates {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-shadow: var(--box-shadow);
}

.location__coordinates--utm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.location__coordinates--utm--list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  & li {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  & h4 {
    color: var(--color-primary);
  }
}

.location__coordinates--img {
  width: 100%;
  height: auto;
}

@media (width >= 768px) {
  .location__leaf {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100px;
    transform: rotate(45deg);
  }

  .location__description {
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .location__coordinates {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .location__description {
    font-size: 24px;
  }

  .location__coordinates {
    font-size: 18px;
  }

  .location__coordinates--utm--title {
    font-size: 32px;
  }

  .location__coordinates--utm--list {
    font-size: 20px;
  }
}

/* ---- INFORMATION ---- */

.information__container {
  display: grid;
  gap: 16px;
  padding: 12px;
  background-color: #F8FFFC;
  box-shadow: var(--box-shadow);
}

@media (width >= 768px) {
  .information__container {
    padding: 40px;
  }
  
  .information__container p {
    font-size: 18px;
  }
}

@media (width >= 1024px) {  
  .information__container p {
    font-size: 24px;
  }
}

/* ---- DIFFERENTIAL ---- */

.differential__huacamayo,
.differential__leaf {
  display: none;
}

.differential__hectaria {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin: 24px 0;
  box-shadow: var(--box-shadow);
}

.differential__hectaria--img {
  width: 100%;
  height: auto;
}

.differential__hectaria--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;

  & h2 {
    color: var(--color-secondary);
  }

  & h3 {
    color: #7D7D7D;
    margin-top: -8px;
  }
}

.differential__container {
  padding: 8px;
  display: grid;
  gap: 24px;
  box-shadow: var(--box-shadow);
}

.differential__container img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
}

.differential__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.differential__description--text p {
  margin-top: 8px;
}

@media (width >= 768px) {
  .differential__huacamayo,
  .differential__leaf {
    display: block;
    position: absolute;
    width: 100px;
  }

  .differential__huacamayo {
    width: 250PX;
    top: 0;
    right: 0;
    transform: scaleX(-1);
  }

  .differential__leaf {
    transform: rotate(-45deg);
    bottom: 20%;
    right: 0;
  }

  .differential__hectaria {
    grid-template-columns: 2fr 3fr;
    padding: 40px;
    gap: 16px;
  }

  .differential__hectaria--text {
    font-size: 48px;
  }

  .differential__container {
    padding: 40px;
  }
  
  .differential__container img {
    width: 100%;
    min-height: 300px;
  }

  .differential__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 24px;
    font-size: 18px;
  }

  .differential__description.left img {
    order: -1;
  }

  .differential__description h3 {
    font-size: 24px;
  }
}

@media (width >= 1024px) {
  .differential__hectaria--text {
    font-size: 64px;
  }

  .differential__container img {
    width: 100%;
    max-height: 100%;
  }

  .differential__description {
    grid-template-columns: 3fr 2fr;
    gap: 24px;
    font-size: 24px;
  }

  .differential__description.left {
    grid-template-columns: 2fr 3fr;
  }

  .differential__description h3 {
    font-size: 32px;
  }
}

/* ---- BENEFITS ---- */

.benefits__list {
  margin-top: 16px;
  padding: 8px;
  box-shadow: var(--box-shadow);
}

.benefits__list li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
}

@media (width >= 768px) {
  .benefits__list {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
  }
}

@media (width >= 1024px) {
  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
    font-size: 24px;
  }
}

/* ---- NOTICE ---- */

.notice__container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFFDF5;
  box-shadow: var(--box-shadow);
}

.notice__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (width >= 768px) {
  .notice__container {
    padding: 40px;
  }

  .notice__description {
    font-size: 18px;
  }

  .notice__description h3 {
    font-size: 24px;
  }
}

@media (width >= 1024px) {
  
  .notice__description {
    gap: 16px;
    font-size: 24px;
  }

  .notice__description h3 {
    font-size: 32px;
  }
}

/* ---- CONTACT ---- */

.container__contact {
  background-color: #FCFCFC;
  width: 100%;
  box-shadow: var(--box-shadow);
  margin: 64px 0;
}

.contact__mariposa {
  display: none;
}

.contact {
  padding-top: 16px;
}

.contact__form {
  display: grid;
  gap: 16px;

  & label {
    color: #343838;
    font-weight: 600;
  }

  & input {
    background-color: var(--color-white);
    padding: 12px 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid #343838;
  }

  & input:focus {
    border-color: #0f5eb8;
    box-shadow: 0 6px 8px -8px #0f5eb8;
  }
}

.contact__form--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-quaternary);
  text-transform: uppercase;
}

.contact__form--title img {
  height: 120px;
  margin: -12px 0;
}

.contact__form--title h2 {
  color: var(--color-primary);
}

.contact__form--row {
  display: grid;
  gap: 16px;
}

.contact__form--group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact__form--btn {
  background-color: var(--color-primary);
  color: var(--color-white);  
  min-width: 100%;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__form--btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.contact__form--btn:hover {
  opacity: 0.7;
}

.contact__form--btn:active {
  scale: 0.95;
}

@media (width >= 768px) {
  .contact__mariposa {
    display: block;
    position: absolute;
    top: -80px;
    left: 0;
    width: 250px;
    transform: scaleX(-1);
  }

  .contact__form--row {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    font-size: 18px;

    & input {
      font-size: 18px;
    }
  }

  .contact__form--btn {
    font-size: 18px;
  }

  .contact__form--btn {
    min-width: 400px;

    margin: 0 auto;
  }

  .contact__form--title {
    font-size: 32px;
  }

  .contact__form--title h2 {
    font-size: 48px;
  }
}

@media (width >= 1024px) {
  .contact__form--row {
    font-size: 24px;

    & input {
      font-size: 24px;
    }
  }

  .contact__form--btn {
    font-size: 24px;
  }
}

/* ---- LANGUAGE SWITCHER ---- */

.language-switcher {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.language-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.language-dropdown {
  display: none;
  position: absolute;
  right: 0;
  bottom: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.language-dropdown.active {
  display: block;
}

.language-option {
  width: 100%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.language-option.active {
  background-color: #e9ecef;
}

/* ---- FOOTER ---- */
.footer {
  margin-top: 24px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  padding: 16px;
  background-color: #383D44;
  color: var(--color-white);
}
